// 暗黑模式

//变量
@BG: #232427;
@HEADER-BG: #2b2c2f;
@HEADER-BORDER-COLOR: rgba(255, 255, 255, 0.06);
// ----- input ----- //
@INPUT-BG: #000000;
@INPUT-BORDER-COLOR: rgba(255, 255, 255, 0.1);
@INPUT-BORDER-COLOR-HOVER: rgba(255, 255, 255, 0.3);
@INPUT-BORDER-COLOR-FOCUS: #e74059;
@INPUT-BG-DIS: rgba(0, 0, 0, 0.2);
@INPUT-BORDER-COLOR-DIS: rgba(255, 255, 255, 0.01);
@INPUT-COLOR-DIS: rgba(102, 102, 102, 0.3);

// ----- button ----- //
@BUTTON-BG: #e74059;
@BUTTON-COLOR: #dddddd;
@BUTTON-BG-DIS: rgba(231, 64, 89, 0.2);
@BUTTON-COLOR-DIS: rgba(102, 102, 102, 0.4);
@BUTTON-BG-HOVER: rgba(231, 64, 89, 0.7);
@BUTTON-BG-FOCUS: #dd2943;

// button - plain
@BUTTON-PLA-BG: transparent;
@BUTTON-PLA-COLOR: #e74059;
@BUTTON-PLA-BORDER_COLOR: #e74059;

@BUTTON-PLA-BORDER-COLOR-HOVER: #dd2943;
@BUTTON-PLA-COLOR-HOVER: #dd2943;

@BUTTON-PLA-BORDER-COLOR-FOCUS: #dd2943;
@BUTTON-PLA-COLOR-FOCUS: #dd2943;

.dark {
  #nav,
  .com-footer {
    background-color: @HEADER-BG;
    border-color: @HEADER-BORDER-COLOR;
  }
  #nav {
    .menu-item {
      color: #dddddd !important;
    }
  }
  .com-footer {
    .bottom-info a {
      color: #dddddd !important;
    }
  }
  .main {
    background-color: @BG;
  }
  // input
  .el-input {
    input {
      background-color: @INPUT-BG;
      border: 1px solid @INPUT-BORDER-COLOR;
      &:hover {
        border-color: @INPUT-BORDER-COLOR-HOVER;
      }
      &:focus {
        border-color: @INPUT-BORDER-COLOR-FOCUS;
      }
      &::placeholder {
        color: #666666;
      }
    }
  }
  .el-input.is-disabled {
    input {
      background-color: @INPUT-BG-DIS;
      border-color: @INPUT-BORDER-COLOR-DIS;
      color: @INPUT-COLOR-DIS;
    }
  }

  // button
  .el-button--primary {
    &:hover {
      background: @BUTTON-BG-HOVER;
      border-color: @BUTTON-BG-HOVER;
    }
    &:active,
    &:focus {
      background: @BUTTON-BG-FOCUS;
      border-color: @BUTTON-BG-FOCUS;
    }
  }

  .el-button--primary.is-disabled,
  .el-button--primary.is-disabled:hover {
    background: @BUTTON-BG-DIS;
    border: none;
    color: @BUTTON-COLOR-DIS !important;
  }

  .el-button--default.is-plain {
    background-color: @BUTTON-PLA-BG;
    border-color: @BUTTON-PLA-COLOR;
    color: @BUTTON-PLA-COLOR;
    &:hover {
      border-color: @BUTTON-PLA-BORDER-COLOR-HOVER;
      color: @BUTTON-PLA-COLOR-HOVER;
    }
    &:active,
    &:focus {
      border-color: @BUTTON-PLA-BORDER-COLOR-FOCUS;
      color: @BUTTON-PLA-COLOR-FOCUS;
    }
  }
}
